<!DOCTYPE html>
<html>
<body>
    <h2>Login Form</h2>
        <form action="login" method="POST">
            {% csrf_token %}
                <div class="container">
                    <label for="unam"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="unam" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <button type="submit">Login</button>

                    <label>
                        <input type="checkbox" checked="checked" name="remmember"> remmember me
                    </label>

                </div>
        </form>

    <h2>Sign Up</h2>
        <form>
            <div>
                <label for="user_name"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="user_name" required>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Email" name="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter password" name="psw" required>

                <button type="submit">Sign Up</button>

            </div>

        </form>

</body>

</html>

